{erl_opts, [
    debug_info
]}.

{plugins, [
    rebar3_proper,
    {gradualizer, {git, "git@github.com:josefs/Gradualizer.git", {branch, "master"}}}
]}.

{project_plugins, [
    erlfmt
]}.

{erlfmt, [
    write,
    {files, [
        "src/*.{hrl,erl,app.src}",
        "rebar.config"
    ]}
]}.

{deps, [
    {erlperf, "2.2.0"},
    {proper, "1.4.0"}
]}.
